In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets,linear_model,preprocessing,metrics
from sklearn.model_selection import train_test_split
from flask import Flask, request

In [ ]:
db=pd.read_csv('./3MINDIA.NS.csv')
db['date']=0

In [ ]:
# to make price column
for x in (db.index) :
    timestamp=db['Date'][x]
    t=''
    for x1 in timestamp :
        if(x1=='-'):
            continue
        else:
            t=t+x1
    db.loc[x,'date']=int(t)
db

# data-preprocessing
# over-fitting

,Date,Open,High,Low,Close,Adj Close,Volume,date
0,2022-04-04,19999.000000,20555.000000,19998.949219,20418.250000,19704.501953,4761,20220404
1,2022-04-05,20418.250000,21638.000000,20418.250000,21284.750000,20540.712891,6074,20220405
2,2022-04-06,21300.000000,21700.000000,21100.099609,21522.000000,20769.669922,3534,20220406
3,2022-04-07,21555.000000,21555.000000,20920.000000,21104.400391,20366.667969,2781,20220407
4,2022-04-08,21222.000000,21490.000000,21060.000000,21440.699219,20691.210938,1338,20220408
...,...,...,...,...,...,...,...,...
244,2023-03-27,22323.050781,22879.750000,22204.599609,22752.599609,22752.599609,3456,20230327
245,2023-03-28,22751.000000,22948.000000,22208.400391,22768.400391,22768.400391,4724,20230328
246,2023-03-29,22650.000000,23250.000000,22589.000000,23095.000000,23095.000000,1977,20230329
247,2023-03-31,23095.949219,23284.400391,22800.000000,22963.849609,22963.849609,2677,20230331
248,2023-04-03,23189.949219,23189.949219,22572.099609,22669.099609,22669.099609,2155,20230403

In [ ]:
X=db[['date']]
X #label --- price

         date
0    20220404
1    20220405
2    20220406
3    20220407
4    20220408
..        ...
244  20230327
245  20230328
246  20230329
247  20230331
248  20230403

[249 rows x 1 columns]

In [ ]:
Y=db[['Open','High','Low','Adj Close']]
Y #features

             Open          High           Low     Adj Close
0    19999.000000  20555.000000  19998.949219  19704.501953
1    20418.250000  21638.000000  20418.250000  20540.712891
2    21300.000000  21700.000000  21100.099609  20769.669922
3    21555.000000  21555.000000  20920.000000  20366.667969
4    21222.000000  21490.000000  21060.000000  20691.210938
..            ...           ...           ...           ...
244  22323.050781  22879.750000  22204.599609  22752.599609
245  22751.000000  22948.000000  22208.400391  22768.400391
246  22650.000000  23250.000000  22589.000000  23095.000000
247  23095.949219  23284.400391  22800.000000  22963.849609
248  23189.949219  23189.949219  22572.099609  22669.099609

[249 rows x 4 columns]

In [ ]:
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)
# X_train,X_test,Y_train,Y_test=X_train.sort_index(axis=0),X_test.sort_index(axis=0),Y_train.sort_index(axis=0),Y_test.sort_index(axis=0)
# # train and spplit and obtaining all features and labels (not scaled)

X_train=X[:-20]
X_test=X[-20:]
Y_train=Y[:-20]
Y_test=Y[-20:]
Y_test

             Open          High           Low     Adj Close
229  23160.000000  23349.949219  23160.000000  23202.800781
230  23160.050781  23464.400391  23100.250000  23406.300781
231  23498.900391  23888.000000  23248.750000  23627.300781
232  23699.000000  23801.000000  23400.000000  23536.199219
233  23587.949219  23699.500000  23330.349609  23582.800781
234  23582.800781  23707.150391  23301.349609  23540.099609
235  23743.750000  23743.750000  22884.849609  23103.150391
236  23373.949219  23417.949219  23169.650391  23371.099609
237  23500.000000  23500.000000  22851.699219  22982.449219
238  23163.099609  23350.000000  22880.000000  22936.349609
239  23198.000000  23198.000000  22125.000000  22916.400391
240  22996.000000  23198.900391  22602.000000  22733.000000
241  22890.000000  22899.849609  22200.000000  22350.750000
242  22386.000000  22568.000000  21741.199219  21783.349609
243  21900.000000  22527.949219  21730.000000  22323.050781
244  22323.050781  22879.750000  22204.599609  22752.599609
245  22751.000000  22948.000000  22208.400391  22768.400391
246  22650.000000  23250.000000  22589.000000  23095.000000
247  23095.949219  23284.400391  22800.000000  22963.849609
248  23189.949219  23189.949219  22572.099609  22669.099609

In [ ]:
# # Scaled version of label
# scaler = preprocessing.StandardScaler()
# Y_train_Scaled=scaler.fit_transform(pd.DataFrame(Y_train.index))
# Y_train_Scaled # scaled label for training

In [ ]:
# mean_x_train = np.mean(X_train)
# std_x_train = np.std(X_train)

# mean_y_train = np.mean(Y_train.index)
# std_y_train = np.std(Y_train.index)

# mean_y_test = np.mean(Y_test.index)
# std_y_test = np.std(Y_test.index)

# mean_x_test = np.mean(X_test)
# std_x_test = np.std(X_test)

In [ ]:
# X_train_Scaled=scaler.transform(X_train)
# X_train_Scaled

In [ ]:
model=linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [ ]:
# y_pred_unscaled = (Y_train_Scaled * std_y_train) + mean_y_train
# y_pred_unscaled

In [ ]:
# x_pred_unscaled = ((X_train_Scaled , std_x_train)) + mean_x_train
# x_pred_unscaled

In [ ]:
predict=model.predict(X_test)
predict

array([[22688.41333412, 22975.19040588, 22401.31839018, 22711.96331954],
       [22688.59861995, 22975.37628022, 22401.52780338, 22712.37416709],
       [22688.72214384, 22975.50019645, 22401.66741217, 22712.64806545],
       [22688.78390578, 22975.56215456, 22401.73721657, 22712.78501463],
       [22688.84566773, 22975.62411267, 22401.80702096, 22712.92196382],
       [22689.03095356, 22975.80998701, 22402.01643416, 22713.33281136],
       [22689.0927155 , 22975.87194513, 22402.08623855, 22713.46976054],
       [22689.15447744, 22975.93390324, 22402.15604295, 22713.60670973],
       [22689.21623939, 22975.99586135, 22402.22584735, 22713.74365891],
       [22689.27800133, 22976.05781946, 22402.29565175, 22713.88060809],
       [22689.46328716, 22976.2436938 , 22402.50506494, 22714.29145564],
       [22689.5250491 , 22976.30565192, 22402.57486933, 22714.42840482],
       [22689.58681105, 22976.36761003, 22402.64467373, 22714.565354  ],
       [22689.64857299, 22976.42956814, 22402.71447813, 22714.70230318],
       [22689.71033493, 22976.49152625, 22402.78428253, 22714.83925237],
       [22689.89562076, 22976.67740059, 22402.99369572, 22715.25009991],
       [22689.95738271, 22976.73935871, 22403.06350012, 22715.3870491 ],
       [22690.01914465, 22976.80131682, 22403.13330451, 22715.52399828],
       [22690.14266854, 22976.92523304, 22403.27291331, 22715.79789664],
       [22694.58952846, 22981.38621717, 22408.29882991, 22725.65823776]])

In [ ]:
m=metrics.mean_squared_error(Y_test,predict)
m

319170.62767798814

In [ ]:
value=(Y_test-predict)
value

            Open        High         Low   Adj Close
229   471.586666  374.758813  758.681610  490.837461
230   471.452161  489.024111  698.722197  693.926614
231   810.178247  912.499804  847.082588  914.652716
232  1010.216094  825.437845  998.262783  823.414204
233   899.103551  723.875887  928.542588  869.878817
234   893.769827  731.340404  899.333175  826.766798
235  1054.657284  767.878055  482.763370  389.680630
236   684.794742  442.015316  767.494348  657.492899
237   810.783761  524.004139  449.473372  268.705560
238   473.821608  373.942181  477.704348  222.469001
239   508.536713  221.756306 -277.505065  202.108935
240   306.474951  222.594739  199.425131   18.571595
241   200.413189  -76.518001 -202.644674 -363.815354
242  -303.648573 -408.429568 -661.515259 -931.352694
243  -789.710335 -448.542307 -672.784283 -391.788471
244  -366.844840  -96.927401 -198.394087   37.349509
245    61.042617  -28.739359 -194.663109   53.013342
246   -40.019145  273.198683  185.866695  379.476002
247   405.806550  307.475158  396.727087  248.051712
248   495.359691  208.563002  163.800779  -56.558629