In [49]:
import numpy as np
import pandas as pd
from sklearn import datasets,linear_model,preprocessing,metrics
from sklearn.model_selection import train_test_split
from flask import Flask, request

In [51]:
db=pd.read_csv('./temporary_store_data.csv')
db['date']=0
db.head() #apple stocks dataset present

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,date
0,2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000,0.0,0.0,0
1,2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600,0.0,0.0,0
2,2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65573800,0.0,0.0,0
3,2023-02-16 00:00:00-05:00,153.509995,156.330002,153.350006,153.710007,68167900,0.0,0.0,0
4,2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59144100,0.0,0.0,0

In [52]:
#user defined function to remove hyphen from date (Data- preprocessing)
for x in (db.index) :
    timestamp=db['Date'][x]
    t=''
    for x1 in timestamp :
        if(x1=='-'):
            continue
        elif (x1==' '):
            break
        else:
            t=t+x1
    db.loc[x,'date']=int(t)

# data-preprocessing
# over-fitting

In [53]:
X=db[['date']]
X

In [54]:
Y=db[['Open','High','Low','Close']]
Y

          Open        High         Low       Close
0   150.949997  154.259995  150.919998  153.850006
1   152.119995  153.770004  150.860001  153.199997
2   153.110001  155.500000  152.880005  155.330002
3   153.509995  156.330002  153.350006  153.710007
4   152.350006  153.000000  150.850006  152.550003
5   150.199997  151.300003  148.410004  148.479996
6   148.869995  149.949997  147.160004  148.910004
7   150.089996  150.339996  147.240005  149.399994
8   147.110001  147.190002  145.720001  146.710007
9   147.710007  149.169998  147.449997  147.919998
10  147.050003  149.080002  146.830002  147.410004
11  146.830002  147.229996  145.009995  145.309998
12  144.380005  146.710007  143.899994  145.910004
13  148.039993  151.110001  147.330002  151.029999
14  153.789993  156.300003  153.460007  153.830002
15  153.699997  154.029999  151.130005  151.600006
16  152.809998  153.470001  151.830002  152.869995
17  153.559998  154.539993  150.229996  150.589996
18  150.210007  150.940002  147.610001  148.500000
19  147.809998  153.139999  147.699997  150.470001
20  151.279999  153.399994  150.100006  152.589996
21  151.190002  153.250000  149.919998  152.990005
22  152.160004  156.460007  151.639999  155.850006
23  156.080002  156.740005  154.279999  155.000000
24  155.070007  157.820007  154.149994  157.399994
25  157.320007  159.399994  156.539993  159.279999
26  159.300003  162.139999  157.809998  157.830002
27  158.830002  161.550003  157.679993  158.929993
28  158.860001  160.339996  157.850006  160.250000
29  159.940002  160.770004  157.869995  158.279999
30  157.970001  158.490005  155.979996  157.649994
31  159.369995  161.050003  159.350006  160.770004
32  161.529999  162.470001  161.270004  162.360001
33  162.440002  165.000000  161.910004  164.899994
34  164.270004  166.289993  164.220001  166.169998
35  166.600006  166.839996  165.110001  165.630005
36  164.740005  165.050003  161.800003  163.759995
37  162.429993  164.960007  162.000000  164.660004
38  161.419998  162.029999  160.080002  162.029999
39  162.350006  162.360001  160.509995  160.800003
40  161.220001  162.059998  159.779999  160.100006

In [55]:
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)
# X_train,X_test,Y_train,Y_test=X_train.sort_index(axis=0),X_test.sort_index(axis=0),Y_train.sort_index(axis=0),Y_test.sort_index(axis=0)
# # train and spplit and obtaining all features and labels (not scaled)

X_train=X[:-20]
X_test=X[-20:]
Y_train=Y[:-20]
Y_test=Y[-20:]
Y_test #training and splitting dataset

          Open        High         Low       Close
21  151.190002  153.250000  149.919998  152.990005
22  152.160004  156.460007  151.639999  155.850006
23  156.080002  156.740005  154.279999  155.000000
24  155.070007  157.820007  154.149994  157.399994
25  157.320007  159.399994  156.539993  159.279999
26  159.300003  162.139999  157.809998  157.830002
27  158.830002  161.550003  157.679993  158.929993
28  158.860001  160.339996  157.850006  160.250000
29  159.940002  160.770004  157.869995  158.279999
30  157.970001  158.490005  155.979996  157.649994
31  159.369995  161.050003  159.350006  160.770004
32  161.529999  162.470001  161.270004  162.360001
33  162.440002  165.000000  161.910004  164.899994
34  164.270004  166.289993  164.220001  166.169998
35  166.600006  166.839996  165.110001  165.630005
36  164.740005  165.050003  161.800003  163.759995
37  162.429993  164.960007  162.000000  164.660004
38  161.419998  162.029999  160.080002  162.029999
39  162.350006  162.360001  160.509995  160.800003
40  161.220001  162.059998  159.779999  160.100006

In [7]:
# # Scaled version of label
# scaler = preprocessing.StandardScaler()
# Y_train_Scaled=scaler.fit_transform(pd.DataFrame(Y_train.index))
# Y_train_Scaled # scaled label for training
# # for scaling
 #scaling of data

In [8]:
# mean_x_train = np.mean(X_train)
# std_x_train = np.std(X_train)

# mean_y_train = np.mean(Y_train.index)
# std_y_train = np.std(Y_train.index)

# mean_y_test = np.mean(Y_test.index)
# std_y_test = np.std(Y_test.index)

# mean_x_test = np.mean(X_test)
# std_x_test = np.std(X_test)

In [9]:
# X_train_Scaled=scaler.transform(X_train)
# X_train_Scaled

In [65]:
model=linear_model.LinearRegression()
model.fit(X,Y) # using entire dataset to train my model
# multiple regression model used for training our model

LinearRegression()

In [11]:
# y_pred_unscaled = (Y_train_Scaled * std_y_train) + mean_y_train
# y_pred_unscaled

In [12]:
# x_pred_unscaled = ((X_train_Scaled , std_x_train)) + mean_x_train
# x_pred_unscaled

In [66]:
predict=model.predict(X_test.values)
predict

c:\Users\KIIT\Desktop\BroDoDo\Finny_Chatbot\FLASK\env\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[155.46789742, 157.08754325, 154.26227745, 155.85036871],
       [155.53750006, 157.15482384, 154.33030288, 155.91845323],
       [155.6071027 , 157.22210443, 154.39832831, 155.98653775],
       [155.81591062, 157.42394619, 154.60240461, 156.19079132],
       [155.88551326, 157.49122678, 154.67043004, 156.25887584],
       [155.9551159 , 157.55850737, 154.73845547, 156.32696037],
       [156.02471854, 157.62578795, 154.8064809 , 156.39504489],
       [156.09432118, 157.69306854, 154.87450634, 156.46312941],
       [156.3031291 , 157.8949103 , 155.07858263, 156.66738298],
       [156.37273174, 157.96219089, 155.14660806, 156.7354675 ],
       [156.44233438, 158.02947148, 155.2146335 , 156.80355202],
       [156.51193702, 158.09675207, 155.28265893, 156.87163654],
       [156.58153966, 158.16403266, 155.35068436, 156.93972107],
       [161.59292976, 163.00823497, 160.24851546, 161.84180668],
       [161.6625324 , 163.07551556, 160.31654089, 161.9098912 ],
       [161.73213504, 163.14279614, 160.38456632, 161.97797572],
       [161.80173768, 163.21007673, 160.45259175, 162.04606024],
       [162.08014824, 163.47919908, 160.72469348, 162.31839833],
       [162.14975089, 163.54647967, 160.79271891, 162.38648286],
       [162.21935353, 163.61376026, 160.86074434, 162.45456738]])

In [60]:
m=metrics.mean_squared_error(Y_test,predict)
m # mean square error

110.03631193264368

In [67]:
p= model.predict([[20230413]]) # predicting stocks for today
p

c:\Users\KIIT\Desktop\BroDoDo\Finny_Chatbot\FLASK\env\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[162.28895617, 163.68104085, 160.92876978, 162.5226519 ]])

In [68]:
sma=(p[0][0]+p[0][1]+p[0][2]+p[0][3])/4
sma # 149 dollars using splitted dataset

# predicted stocks for 13th April 162.355

162.35535467189038

In [4]:
# import datetime
# from datetime import date
# today = date.today()
# x=today.strftime("%Y%m%d")
# x # this can also be used (alternate way)

'20230413'